{% extends 'base.html.twig' %}

{% block title %}Hello Bank Account API!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Welcome to Bank Account API! ✅</h1>

    Here are available enpoints:
    <ul>
        <li> POST <code>/create_wallet</code> - Create new wallet </li>
        <li>GET <code>/check_balance/{id}</code> - Check balance of the wallet with <code>`{id}`</code></li>
        <li>POST <code>/deposit/{id}</code> - Deposit funds to wallet with given <code>`{id}`</code></li>
        <li>POST <code>/withdraw/{id}</code> - Withdraw funds from wallet with given <code>`{id}`</code></li>
    </ul>

    To deposit or withdraw funds from wallet using <code>`/deposit/{id}`</code> and <code>`/withdraw/{id}`</code> endpoints, specify the <code>amount</code> in request body, using JSON:<br>
<code>
{"amount": 10}
</code>
<br><br>
To generate a log of transactions for a wallet with <code>{id}</code>, use this command from within php container:
<code>symfony console api:generate-wallet-transactions-log {id}</code> <br>
or use the alias: <code>symfony console api:gwtl {id}</code>
</div>
{% endblock %}
